{% extends 'global/home.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block titulo %} {% translate "List of courses" %}{% endblock %}

{% block conteudo %}
        <p>Idioma atual: {{ LANGUAGE_CODE }}</p>
        <h1> {% translate "List of courses" %}</h1>
                {% if perms.edu.add_curso %}
                    <p><a href="{% url 'edu:course_create' %}"> {% translate "Register a course" %}</a></p>
                {% endif %}
        <ul>
            {% for curso in cursos %}
                <li>{{ curso.nome }}
                    {% if perms.edu.change_curso %}
                        - <a href="{% url 'edu:edit_course' curso.id %}"> {% translate "Edit" %}</a>
                    {% endif %}
                    {% if perms.edu.delete_curso %}
                        - <a href="{% url 'edu:delete_course' curso.id %}">{% translate "Delete" %}</a>
                    {% endif %}
                </li>
            {% empty %}
                <li> {% translate "No courses registered" %}</li>
            {% endfor %}
        </ul>

        {% if cursos.has_other_pages %}
        <nav class="pagination" aria-label="Page navigation">
            <ul style="list-style:none; display:flex; gap:8px; padding:0;">
                {% if cursos.has_previous %}
                    <li><a href="?page={{ cursos.previous_page_number }}">&laquo; {% translate "Previous" %}</a></li>
                {% else %}
                    <li style="opacity:0.5">&laquo;  {% translate "Previous" %}</li>
                {% endif %}

                {% for num in cursos.paginator.page_range %}
                    {% if num == cursos.number %}
                        <li><strong>{{ num }}</strong></li>
                    {% else %}
                        <li><a href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if cursos.has_next %}
                    <li><a href="?page={{ cursos.next_page_number }}"> {% translate "Next" %} &raquo;</a></li>
                {% else %}
                    <li style="opacity:0.5"> {% translate "Next" %} &raquo;</li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
{% endblock %}